.global-sprite {
  display: none;
}

:root {
  --hover-color: #f5bd41;
  --white-color: #ffffff;
  --logo-bgcolor: #3077c6;
  --text-color: #383838;
  --shadow-color: #38383880;
  --footer-bgcolor: #10367c;
  --center-bgcolor: #eaf0f9;
  --circle-color: #f3f3f4;
  --card-place-color: #bfbfbf;
  --width-col: calc(100% / 12);
  --width-underline: 50px;
  --gap: 8px;
  --border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  border: none;
}
body {
  font-weight: 400;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  color: #383838;
  line-height: 1.2;
}

.container {
  max-width: 1267px;
  margin: 0 auto;
  padding: 120px 16px;
}
img,
svg {
  vertical-align: inherit;
}
a:hover {
  color: #ffffff;
}
p {
  margin-bottom: inherit;
}
ol,
ul,
li {
  margin-bottom: 0;
}
