.destination {
  order: 4;
}
.dest__places {
  display: flex;
  gap: 16px;
  position: relative;
}

.card__img-dest {
  margin-bottom: 0;
}
.dest__place__card {
  display: flex;
  flex-direction: column;
}

.destination__nav {
  position: relative;
  height: calc(296px + 125px);
}
.nav__tab {
  float: left;
  border-radius: var(--border-radius);
}
.nav__tab__label {
  background-color: var(--circle-color);
  padding: 16px 52px;
  border-radius: var(--border-radius);
  font-size: 24px;
}
.label-three {
  padding-right: 24px;
}
.nav__tab [type='radio'] {
  opacity: 0;
  display: none;
}
.nav__content {
  position: absolute;
  top: 125px;
  left: 0;
  margin-bottom: 50px;
  width: 100%;
}
.nav__content > * {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.6s ease;
}
[type='radio']:focus ~ label {
  color: var(--white-color);
}
[type='radio']:checked ~ label {
  background-color: var(--logo-bgcolor);
  color: var(--white-color);
  z-index: 2;
}
[type='radio']:checked ~ label ~ .nav__content {
  z-index: 1;
}
[type='radio']:checked ~ label ~ .nav__content > * {
  opacity: 1;
  transform: translateX(0);
}
.card__img--hover {
  box-shadow: 0 4px 70px 0 var(--shadow-color) inset;
  height: 100%;
  z-index: 5;
  width: 100%;
}
.arrow__bottom {
  height: 40px;
  width: 40px;
  margin: 100px auto 0;
}
.shadow-dest {
  position: relative;
}
.card__title {
  margin-top: 20px;
}
.shadow-dest:hover:after {
  content: '';
  top: 0;
  left: 0;
  height: 296px;
  width: 296px;
  position: absolute;
  box-shadow: 0 4px 70px 0 var(--shadow-color) inset;
  z-index: 3;
}

.button__homes,
.sign__desktop__main__btn {
  padding: 12px 24px;
  font-size: 18px;
  color: var(--logo-bgcolor);
  background-color: var(--white-color);
  border: 1px solid var(--logo-bgcolor);
  border-radius: var(--border-radius);
}
.button__homes {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 65px);
  display: none;
}
.shadow-dest:hover .button__homes {
  display: block;
}
