@media (max-width: 1000px) {
  .place__card:nth-child(3) {
    display: none;
  }

  .place__card {
    width: 50%;
  }

  .arrow__right {
    display: block;
  }

  .arrow__bottom {
    display: none;
  }
}
