@media (max-width: 1000px) {
  .dest__place__card:nth-child(3) {
    display: none;
  }

  .dest__place__card{
    width: 50%;
  }

  .arrow__right {
    display: block;
  }

  .arrow__bottom {
    display: none;
  }
}