.review {
  order: 6;
}

.review__cards {
  display: flex;
  position: relative;
  justify-content: space-evenly;
}

.review__arrow {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 25%;
  right: -20px;
  margin-right: calc(var(--gap) * 2);
}

.review__card {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.review__card__img {
  position: relative;
}

.review__card__img img {
  height: 400px;
  width: 400px;
}

.review__card__price {
  color: var(--white-color);
  padding: 16px 0 11px 24px;
  background-color: rgb(56 56 56 / 70%);
  position: absolute;
  left: 0;
  top: 100%;
  transform: translateY(-100%);
  min-width: 400px;
}

.review__card__inform {
  background-color: var(--center-bgcolor);
  padding: 24px;
  flex: 1 1 auto;
  width: 400px;
}

.inform__top {
  display: flex;
  font-weight: 500;
  color: var(--logo-bgcolor);
  justify-content: space-between;
  padding-bottom: 24px;
}

.top__name__hotel {
  padding-bottom: calc(var(--gap) * 2);
}

.top__rating {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.top__rating__mark {
  color: var(--white-color);
  margin-bottom: calc(var(--gap) * 2);
  background-color: var(--footer-bgcolor);
  border-radius: var(--border-radius);
  padding: 4px 12px;
  font-size: 18px;
}

.top__rating__reviews {
  font-size: 14px;
  color: var(--card-place-color);
}

.inform__middle {
  display: flex;
  margin-bottom: calc(var(--gap) * 3);
}

.inform__middle__logo {
  fill: var(--card-place-color);
  height: 53px;
  width: 53px;
  margin-right: calc(var(--gap) * 2);
}

.person__name {
  margin-bottom: var(--gap);
}

.country__flag {
  width: 16px;
  height: 12px;
  margin-right: var(--gap);
}

.person__country {
  color: var(--card-place-color);
}
