@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}
.offer {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  color: #383838;
}
.container {
  max-width: 1235px;
  margin: 0 auto;
}
title {
  display: block;
  text-align: center;
  padding-top: 120px;
  font-weight: 500;
  font-size: 40px;
}
title:after {
  content: "";
  display: block;
  height: 4px;
  width: 100px;
  background-color: #f5bd41;
  margin: 20px auto;
}
.advantages {
  margin: 85px 0 65px;
  display: flex;
  justify-content: space-between;
}
.advantages-item {
  width: 25%;
  text-align: center;
}
.advantages-text {
  margin: 40px 0px;
}
