@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}
.offer {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  color: #383838;
}
.container {
  max-width: 1235px;
  margin: 0 auto;
  padding: 120px 0 115px;
  background-color: #b1e1e1;
}
h2 {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}
h2:after {
  content: "";
  display: block;
  height: 4px;
  width: 100px;
  margin: 20px auto;
}
.advantages {
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
img {
  display: block;
  margin: 0 auto;
}
.advantages-item {
  width: 25%;
  text-align: center;
}
.advantages-text {
  margin-top: 40px;
}
