@import url("fonts.css");

* {
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  color: #383838;
}
.container {
  max-width: 1235px;
  margin: 0 auto;
}

title {
  display: block;
  text-align: center;
  padding-top: 120px;
  font-weight: 500;
  font-size: 40px;
}
title:after {
  content: "";
  display: block;
  height: 4px;
  width: 100px;
  background-color: #f5bd41;
  margin: 20px auto;
}
.advantages {
  margin: 85px 0 125px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.advantages-item {
  width: 25%;
  text-align: center;
}
.advantages-text {
  margin-top: 40px;
}
/*/////////////footer///////////*/
.footer {
  background-color: #10367c;
  color: #ffffff;
}
.columns {
  padding-top: 120px;
  display: flex;
  column-gap: 20px;
}

li {
  list-style-type: none;
  margin: 18px 0;
}
li:last-child {
  margin: 0px;
}
li:hover {
  text-decoration: underline;
}
.column-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.172;
}
.navigation {
  width: 33.3333%;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
}
.faq {
  text-transform: uppercase;
}
